<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>首頁</title>
  <style>
    body {
      background-color: black;
    }
    h1 {
      margin: 10px;
      padding: 10px;
      text-align: center;
      color: white;
      background-color: gray;
    }
    div {
      margin: 10px;
      padding: 10px;
      text-align: center;
      color: white;
      background-color: gray;
    }
  </style>
</head>

<body>
  <h1>首頁</h1>

  <div>{{ current_time }}</div>

  <div><a href='/encode/'>編碼</a></div>
</body>

<!-- 檔名： home.html -->
<!-- 作者： Kaiching Chang -->
<!-- 時間： June, 2018 -->
